html,
body,
#app {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


* {
  user-select: none;
  box-sizing: border-box;
  text-wrap: nowrap;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: var(--theme-dark-body); */
}

body::-webkit-scrollbar {
  display: none;
}

.df_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.df_s_b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}